<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>EnqueteWEB!: Obrigado !</title>
</head>
<body>
    <h1>EnqueteWeb!</h1>
    <h2>Obrigado por Responder!</h2>
    <p>
        <a asp-action="Index">Voltar ao Inicio.</a>
        <a asp-action="Resultado">Ver Resultados Parciais</a>
    </p>
</body>
</html>