@model ProjetoEnquete.Models.Resposta
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X=UA=Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilos.css">
        <title>EnqueteProjetoEnquete! :: Resposta</title>
    </head>
    <body>
        <h1>EnqueteWeb</h1>
        <h2>Voce teria coragem de fazer uma viagem sem volta para marte?</h2>
        <h4>Preencha os campos e marque sua resposta.</h4>
        <div asp-validation-summary="All"></div>
        <form method="POST">
        <div>
            <label asp-for="Nome">Seu Nome</label><br>
            <input asp-for="Nome">
        </div>
                <div>
            <label asp-for="Email">Seu Email</label><br>
            <input asp-for="Email">
        </div>
            RESPOSTA: 
            <div>
                <input type="radio" id="rdSim" name="Sim" value="true">
                <label for="rdSim">Sim</label>
            </div>
                        <div>
                <input type="radio" id="rdNao" name="Sim" value="false">
                <label for="rdNao">Nao</label>
            </div>
            <input type="submit" value="Enviar Resposta">
        </form>
    </body>
</html>