<!DOCTYPE html>
@model IEnumerable<Resposta>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnqueteWeb! :: Resultado Parcial</title>
</head>
<body>
    <h1>EnqueteWeb!</h1>
    <h2> Resultado Parcial</h2>
    <h4>Voce teria coragem de fazer uma viagem sem volta para marte ?</h4>
    @foreach (Resposta r in Model)
    {
        <p>@(r.Nome): @(r.Sim.Value ? "Sim" : "Não")</p>
    }
    <p>
        <a asp-action="Index">Voltar ao Inicio</a>
    
        
    </p>
</body>
</html>